<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/create-teams.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">
    <title>Creación de Equipos</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">
            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>
            <ul class="navbar__container-links">
                <li class="navbar__item ">
                    <i class='bx bx-male navbar__link-icon'></i><a class="navbar__link " href="user-profile">Perfil</a>
                </li>
                <li class="navbar__item current">
                    <i class='bx bx-plus-medical navbar__link-icon'></i><a class="navbar__link "
                        href="list-teams">Listado de equipos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-group navbar__link-icon'></i><a class="navbar__link "
                        href="search-friends">Amigos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-cog navbar__link-icon'></i><a class="navbar__link " href="settings">Ajustes</a>
                </li>
            </ul>
        </nav>
        <main>
            <h1 class="content__title"> Crea tu equipo pokemon</h1>
            <form action="/create-teams" method="POST" class="content" onsubmit="return validateAll(event)">
                <div class="content__available">
                    <h2 class="available__title">Pokemones Disponibles</h2>
                    <div class="available__outer">
                        <div class="available__pokemons" id="pokemons__Api">
                            <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                        </div>
                    </div>
                    <div class="pokemons__restrict">
                        <p class="restrict__text">Escriba el nombre de los Pokemones que desea restringir, separados por
                            comas.</p>
                        <input type="text" id="pokemonFilter" placeholder="pokemon, pokemon">
                    </div>
                </div>
                <div class="content__team-creation">
                    <h2 class="team__title">Equipo Pokemon</h2>
                    <p class="team__select">Escriba el nombre del pokemón que desea agregar</p>
                    <div class="team__container">
                        <div class="content__team-grid">
                            <input class="team__slot" placeholder="Pokemon 1" name="pokemonOne"
                                oninput="validatePokemonName(this)"></input>
                            <input class="team__slot" placeholder="Pokemon 2" name="pokemonTwo"
                                oninput="validatePokemonName(this)"></input>
                            <input class="team__slot" placeholder="Pokemon 3" name="pokemonThree"
                                oninput="validatePokemonName(this)"></input>
                            <input class="team__slot" placeholder="Pokemon 4" name="pokemonFour"
                                oninput="validatePokemonName(this)"></input>
                            <input class="team__slot" placeholder="Pokemon 5" name="pokemonFive"
                                oninput="validatePokemonName(this)"></input>
                            <input class="team__slot" placeholder="Pokemon 6" name="pokemonSix"
                                oninput="validatePokemonName(this)"></input>
                        </div>
                        <div id="teamForm">
                            <div class="content__team-name">
                                <label for="team__name-title">Nombre del equipo:</label>
                                <input class="team__input" type="text" id="team__name-title" name="teamName"
                                    oninput="validateTeamName()">
                                <span id="teamNameError" class="error-message"></span>
                                <span id="checkIcon"></span>
                            </div>
                            <div class="content__buttons">
                                <button class="button__reset" type="button" onclick="resetTeamName()">Resetear
                                    Nombre</button>
                                <input type="submit" value="Guardar" id="btn__save" class="button_save"></input>
                            </div>
                        </div>
                        <div id="messageContainer" class="message-container"></div>
                    </div>
                </div>
            </form>
        </main>
    </div>
    <script src="js/teams-api.js" defer></script>
    <script src="js/create-teams.js" defer></script>
</body>

</html>