<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/settings.css">
    <link rel="stylesheet" href="css/edit-teams.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">
    <title>Edición de Equipos</title>
</head>

<body>

    <div class="layout">
        <nav class="navbar__container">

            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>

            <ul class="navbar__container-links">
                <li class="navbar__item ">
                    <i class='bx bx-male navbar__link-icon'></i><a class="navbar__link " href="user-profile">Perfil</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bx-plus-medical navbar__link-icon'></i><a class="navbar__link "
                        href="list-teams">Listado de
                        equipos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-group navbar__link-icon'></i><a class="navbar__link "
                        href="friends-profile">Amigos</a>
                </li>
                <li class="navbar__item">
                    <i class='bx bxs-cog navbar__link-icon'></i><a class="navbar__link " href="settings">Ajustes</a>
                </li>

            </ul>

        </nav>

    </div>
    <main class="main__information">
        <h1 class="information__title">Edita tu equipo</h1>
        <div class="information__general-container">
            <button class="information__container" onclick="settings__container()">
                <div class="information__img-container">
                    <img class="information__img" src="img/pikachu__png.png" alt=""> <!--Esto viene de la API-->
                </div>
                <div class="information__details">
                    <div class="details__text">
                        <h2 class="details__pokemon">Pikachu</h2> <!--Esto viene de la API-->
                        <h2 class="details__level">Nivel: 12</h2><!--Esto viene de la API-->
                    </div>
                    <a href="*" class="details__habilities">Habilidades</a> <!--Esto viene de la API-->
                </div>
            </button>

            <button class="information__container" onclick="settings__container()">
                <div class="information__img-container">
                    <img class="information__img" src="img/bulbasaur__png.png" alt=""> <!--Esto viene de la API-->
                </div>
                <div class="information__details">
                    <div class="details__text">
                        <h2 class="details__pokemon">Bulbasaur</h2> <!--Esto viene de la API-->
                        <h2 class="details__level">Nivel: 4</h2><!--Esto viene de la API-->
                    </div>
                    <a href="*" class="details__habilities">Habilidades</a> <!--Esto viene de la API-->
                </div>
            </button>

            <button class="information__container" onclick="settings__container()">
                <div class="information__img-container">
                    <img class="information__img" src="img/articuno__png.png" alt=""> <!--Esto viene de la API-->
                </div>
                <div class="information__details">
                    <div class="details__text">
                        <h2 class="details__pokemon">Articuno</h2> <!--Esto viene de la API-->
                        <h2 class="details__level">Nivel: 9</h2><!--Esto viene de la API-->
                    </div>
                    <a href="*" class="details__habilities">Habilidades</a> <!--Esto viene de la API-->
                </div>
            </button>

            <button class="information__container" onclick="settings__container()">
                <div class="information__img-container">
                    <img class="information__img" src="img/squirtle__png.png" alt=""> <!--Esto viene de la API-->
                </div>
                <div class="information__details">
                    <div class="details__text">
                        <h2 class="details__pokemon">Squirtle</h2><!--Esto viene de la API-->
                        <h2 class="details__level">Nivel: 2</h2><!--Esto viene de la API-->
                    </div>
                    <a href="*" class="details__habilities">Habilidades</a> <!--Esto viene de la API-->
                </div>
            </button>

            <button class="information__container" onclick="settings__container()">
                <div class="information__img-container">
                    <img class="information__img" src="img/charizard__png.png" alt=""> <!--Esto viene de la API-->
                </div>
                <div class="information__details">
                    <div class="details__text">
                        <h2 class="details__pokemon">Charizard</h2> <!--Esto viene de la API-->
                        <h2 class="details__level">Nivel: 10</h2><!--Esto viene de la API-->
                    </div>
                    <a href="*" class="details__habilities">Habilidades</a> <!--Esto viene de la API-->
                </div>
            </button>

            <button class="information__container" onclick="settings__container()">
                <div class="information__img-container">
                    <img class="information__img" src="img/dragonite__png.png" alt=""> <!--Esto viene de la API-->
                </div>
                <div class="information__details">
                    <div class="details__text">
                        <h2 class="details__pokemon">Dragonite</h2> <!--Esto viene de la API-->
                        <h2 class="details__level">Nivel: 7</h2><!--Esto viene de la API-->
                    </div>
                    <a href="*" class="details__habilities">Habilidades</a> <!--Esto viene de la API-->
                </div>
            </button>
        </div>
        <div class="pokemon__settings-container" id="container__button">
            <div class="pokemon__settings-text">
                <h2 class="change__settings"><a href="create-teams">Cambiar</a></h2>
                <h2 class="data__settings"><a href="list-teams">Estadísticas</a></h2>
            </div>
        </div>

    </main>
    <script src="js/edit-teams.js"></script>
</body>

</html>