<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/history-matches.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">

    <title>Historial de Partidas</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">

            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>


            <ul class="navbar__container-links">
                <li class="navbar__item ">
                    <i class='bx bx-male navbar__link-icon'></i><a class="navbar__link " href="user-profile">Perfil</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bx-plus-medical navbar__link-icon'></i><a class="navbar__link "
                        href="create-teams">Creación de equipos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-group navbar__link-icon'></i><a class="navbar__link "
                        href="friends-profile">Amigos</a>
                </li>
                <li class="navbar__item">
                    <i class='bx bxs-cog navbar__link-icon'></i><a class="navbar__link " href="settings">Ajustes</a>
                </li>

            </ul>

        </nav>

    </div>
    <div class="container__table">
        <div class="header__text">
            <h1 class="header__title">Historial de Partidas</h1>
        </div>
        <!-- Infomracion real proviene de la API, de momento se queman los datos presentados -->
        <table class="leaderboard__info">

            <!-- Linea 1 -->

            <thead>
                <tr>
                    <th>Usuario 1</th>
                    <th>Pokemon </th>
                    <th>Ganador 1vs1</th>
                    <th>Pokemon </th>
                    <th>Usuario 2</th>
                    <th>Ganador de Partida</th>
                </tr>
            </thead>
            <tbody>
                <tr>

                    <!-- Linea 2 -->

                    <td>Equipo 3</td>


                    <td>
                        <ul class=“pokemon__list1”>
                            <li>Pokemon 1</li>
                            <li>Pokemon 2</li>
                            <li>Pokemon 3</li>
                            <li>Pokemon 4</li>
                            <li>Pokemon 5</li>
                            <li>Pokemon 6</li>
                        </ul>
                    </td>

                    <td>
                        <ul class=“pokemon__list1”>
                            <li>Equipo 1</li>
                            <li>Equipo 2</li>
                            <li>Equipo 2</li>
                            <li>Equipo 2</li>
                            <li>Equipo 2</li>
                            <li>Equipo 2</li>
                        </ul>
                    </td>

                    <td>
                        <ul class=“pokemon__list1”>
                            <li>Pokemon 1</li>
                            <li>Pokemon 2</li>
                            <li>Pokemon 3</li>
                            <li>Pokemon 4</li>
                            <li>Pokemon 5</li>
                            <li>Pokemon 6</li>
                        </ul>
                    </td>

                    <td>Equipo 1</td>

                    <td>Equipo 1 <center><img class="coronaganador" src="img/coronaganador.png" alt="corona"></td>
                    </center>

                </tr>

                <!-- Linea 3 -->

                <tr>
                    <td>Equipo 3</td>

                    <td>
                        <ul class=“pokemon__list1”>
                            <li>Pokemon 1</li>
                            <li>Pokemon 2</li>
                            <li>Pokemon 3</li>
                            <li>Pokemon 4</li>
                            <li>Pokemon 5</li>
                            <li>Pokemon 6</li>
                        </ul>
                    </td>

                    <td>
                        <ul class=“pokemon__list1”>
                            <li>Equipo 2</li>
                            <li>Equipo 2</li>
                            <li>Equipo 2</li>
                            <li>Equipo 2</li>
                            <li>Equipo 2</li>
                            <li>Equipo 2</li>
                        </ul>
                    </td>

                    <td>
                        <ul class=“pokemon__list1”>
                            <li>Pokemon 1</li>
                            <li>Pokemon 2</li>
                            <li>Pokemon 3</li>
                            <li>Pokemon 4</li>
                            <li>Pokemon 5</li>
                            <li>Pokemon 6</li>
                    </td>

                    <td>Equipo 1</td>

                    <td>Equipo 1 <center><img class="coronaganador" src="img/coronaganador.png" alt="corona"></td>
                    </center>
                </tr>

                <!-- Linea 4 -->

                <tr>
                    <td>Equipo 3</td>

                    <td>
                        <ul class=“pokemon__list1”>
                            <li>Pokemon 1</li>
                            <li>Pokemon 2</li>
                            <li>Pokemon 3</li>
                            <li>Pokemon 4</li>
                            <li>Pokemon 5</li>
                            <li>Pokemon 6</li>
                        </ul>
                    </td>

                    <td>
                        <ul class=“pokemon__list1”>
                            <li>Equipo 1</li>
                            <li>Equipo 1</li>
                            <li>Equipo 1</li>
                            <li>Equipo 1</li>
                            <li>Equipo 1</li>
                            <li>Equipo 1</li>
                        </ul>
                    </td>

                    <td>
                        <ul class=“pokemon__list1”>
                            <li>Pokemon 1</li>
                            <li>Pokemon 2</li>
                            <li>Pokemon 3</li>
                            <li>Pokemon 4</li>
                            <li>Pokemon 5</li>
                            <li>Pokemon 6</li>
                    </td>

                    <td>Equipo 1</td>

                    <td>Equipo 1 <center><img class="coronaganador" src="img/coronaganador.png" alt="corona"></td>
                    </center>
                </tr>

            </tbody>
        </table>

        <div class="profile__history-matches">
            <div class="history-matches__stats">
                <form action="" method="post">
                    <select class="history__button" name="history" id="history">
                        <option value="last__week">Última semana</option>
                        <option value="last__month">Último mes</option>
                        <option value="last__sixmonths">Últimos seis meses</option>
                        <option value="last__year">Último año</option>
                    </select>
                </form>
            </div>

        </div>


    </div>

</body>

</html>