<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/list-teams.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">
    <title>Listado de Equipos</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">
            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>

            <ul class="navbar__container-links">
                <li class="navbar__item ">
                    <i class='bx bx-male navbar__link-icon'></i><a class="navbar__link " href="user-profile">Perfil</a>
                </li>
                <li class="navbar__item current">
                    <i class='bx bx-plus-medical navbar__link-icon'></i><a class="navbar__link "
                        href="create-teams">Creación de
                        equipos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-group navbar__link-icon'></i><a class="navbar__link "
                        href="search-friends">Amigos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-cog navbar__link-icon'></i><a class="navbar__link " href="settings">Ajustes</a>
                </li>
            </ul>
        </nav>
        <main>
            <h1 class="content__title">Listado de Equipos</h1>
            <div class="content__teams">
                <button class="teams__team">
                    <h2 class="teams__team-title">Equipo 1</h2>
                </button>
            </div>

            <h2 class="chosen__title">Pokemones escogidos para el equipo: nombre</h2>
            <div class="chosen__pokemons">
                <div class="chosen__pokemon">
                    <p class="pokemon__num">#01</p>
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/Gyarados.png" alt="Pokemon">
                    <span class="pokemon__name">Pikachu</span>
                    <div class="pokemon__sizes">
                        <p class="pokemon__height">1M</p>
                        <p class="pokemon__weight">100kg</p>
                    </div>
                </div>
                <div class="chosen__pokemon">
                    <p class="pokemon__num">#01</p>
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/Articuno.png" alt="Pokemon">
                    <span class="pokemon__name">Pikachu</span>
                    <div class="pokemon__sizes">
                        <p class="pokemon__height">1M</p>
                        <p class="pokemon__weight">100kg</p>
                    </div>
                </div>
                <div class="chosen__pokemon">
                    <p class="pokemon__num">#01</p>
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/Snorlax.png" alt="Pokemon">
                    <span class="pokemon__name">Pikachu</span>
                    <div class="pokemon__sizes">
                        <p class="pokemon__height">1M</p>
                        <p class="pokemon__weight">100kg</p>
                    </div>
                </div>
                <div class="chosen__pokemon">
                    <p class="pokemon__num">#01</p>
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/Squirtle.png" alt="Pokemon">
                    <span class="pokemon__name">Pikachu</span>
                    <div class="pokemon__sizes">
                        <p class="pokemon__height">1M</p>
                        <p class="pokemon__weight">100kg</p>
                    </div>
                </div>
                <div class="chosen__pokemon">
                    <p class="pokemon__num">#01</p>
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/Venusar.png" alt="Pokemon">
                    <span class="pokemon__name">Pikachu</span>
                    <div class="pokemon__sizes">
                        <p class="pokemon__height">1M</p>
                        <p class="pokemon__weight">100kg</p>
                    </div>
                </div>
                <div class="chosen__pokemon">
                    <p class="pokemon__num">#01</p>
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/pickachuOther.png" alt="Pokemon">
                    <span class="pokemon__name">Pikachu</span>
                    <div class="pokemon__sizes">
                        <p class="pokemon__height">1M</p>
                        <p class="pokemon__weight">100kg</p>
                    </div>
                </div>


            </div>
            <button class="team__upload">Agregar equipo guardado</button>
            <a href="edit-teams">
                <h2 class="teams__team-edit">Edita tu equipo</h2>
            </a>
        </main>

    </div>

    <script src="js/list-teams.js" defer></script>
</body>

</html>