<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/list-teams.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">
    <title>Listado de Equipos</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">
            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>

            <ul class="navbar__container-links">
                <li class="navbar__item ">
                    <i class='bx bx-male navbar__link-icon'></i><a class="navbar__link " href="user-profile">Perfil</a>
                </li>
                <li class="navbar__item current">
                    <i class='bx bx-plus-medical navbar__link-icon'></i><a class="navbar__link "
                        href="create-teams">Creación de
                        equipos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-group navbar__link-icon'></i><a class="navbar__link "
                        href="search-friends">Amigos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-cog navbar__link-icon'></i><a class="navbar__link " href="settings">Ajustes</a>
                </li>
            </ul>
        </nav>
        <main>
            <h1 class="content__title">Listado de Equipos</h1>
            <div class="content__teams">
                <div class="teams__team-one">
                    <a href="edit-teams">
                        <h2 class="teams__team-one-title">Equipo 1</h2>
                    </a>
                    <div class="pokemons__player-one">Pokemones jugador 1</div>
                    <div class="pokemons__player-two">Pokemones jugador 2</div>
                </div>
                <div class="teams__team-two"><a href="edit-teams">
                        <h2 class="teams__team-two-title">Equipo 2</h2>
                    </a>
                    <div class="pokemons__player-one">Pokemones jugador 1</div>
                    <div class="pokemons__player-two">Pokemones jugador 2</div>
                </div>
                <div class="teams__team-three">
                    <a href="edit-teams">
                        <h2 class="teams__team-three-title">Equipo 3</h2>
                    </a>
                    <div class="pokemons__player-one">Pokemones jugador 1</div>
                    <div class="pokemons__player-two">Pokemones jugador 2</div>
                </div>
            </div>
            <button class="button__add-team">Agregar Equipo</button>
            <h2 class="chosen__title">Pokemones escogidos por jugador:</h2>
            <div class="chosen__pokemons">
                <div class="pokemon__one">
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/pickachuOther.png" alt="Pokemon">
                    <span class="pokemon__name-one">Pikachu</span>
                </div>
                <div class="pokemon__two">
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/Dragonite.png" alt="Pokemon">
                    <span class="pokemon__name-two">Dragonite</span>
                </div>
                <div class="pokemon__three">
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/Venusar.png" alt="Pokemon">
                    <span alt="Pokemon">
                        <span class="pokemon__name-three">Venusar</span>
                </div>
                <div class="pokemon__four">
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/Articuno.png" alt="Pokemon">
                    <span class="pokemon__name-four">Articuno</span>
                </div>
                <div class="pokemon__five">
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/Squirtle.png" alt="Pokemon">
                    <span class="pokemon__name-five">Squirtle</span>
                </div>
                <div class="pokemon__six">
                    <!-- Información de las imagenes y nombres de los pokemones vienen de la API, de momento se usan valores quemados -->
                    <img src="img/charizard.png" alt="Pokemon">
                    <span class="pokemon__name-six">Charizard</span>
                </div>
            </div>
            <button class="button__player-info">Información de Jugador</button>

        </main>

    </div>

    <script src="js/list-teams.js" defer></script>
</body>

</html>