<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/login.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">
    <script src="js/login.js"></script>
    <title>Inicio de Sesión</title>
</head>

<body>
    <main>
        <form action="/addLogin" method="post" class="formulario" id="formulario">
            <div class="logo__container"><img class="logo__pokemon" src="img/logoPokemon.png" alt="logoPokemon"></div>
            <div class="layout">

                <h2 class="layout__message">¡Bienvenido de nuevo, Entrenador Pokémon!</h2>
                <section class="box__info">

                    <div class="form__containerinfo">
                        <h1 class="login__text">Inicio de Sesión</h1>
                        <p class="title__input">Nombre de Usuario</p>
                        <input class="formulario__grupo-input" type="text" name="addUser" id="usuario"
                            placeholder="Nombre de Usuario">

                        <p class="title__input">Contraseña</p>
                        <input class="formulario__grupo-input" type="text" name="userPassword" id="contraseña"
                            placeholder="Ingrese su contraseña">

                        <input class="button__login" value="Iniciar Sesión" type="submit" id="miBoton"
                            href="user-profile" onclick="location.reload">
                        <a href="user-profile"></a>
                        <a class="linkrecover">¿Olvidaste tu Contraseña? </a>
                        <a class="clickrecover" href="recover-password">haz click aquí</a>
                        <h4 class="credits">©2024 Pokémon</h4>

                    </div>
                    <img class="ash__img" src="img/ashypikachu.png" alt="ash y pikachu">
                    <img class="bola__img" src="img/favIcon.png" alt="bola">
                    <img class="charizard__img" src="img/charizard.png" alt="charizard">

            </div>
        </form>
    </main>

    <script src="js/login.js"></script>
    <script src="js/login-secret.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>


    </section>
</body>

</html>