<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/product-sell.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">

    <title>Sobre el producto</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">
            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>
            <ul class="navbar__container-links">
                <li class="navbar__item ">
                    <a class="navbar__link " href="#intro">¿Qué es Pokémon?</a>
                </li>

                <li class="navbar__item ">
                    <a class="navbar__link " href="#products">Productos</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link " href="#reviews">Comentarios</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link " href="#play">Jugar</a>
                </li>
                <li class="navbar__item">
                    <a class="navbar__link " href="#socials">Redes</a>
                </li>

            </ul>
        </nav>
        <section class="layout__intro" id="intro">
            <article class="intro__what">
                <div class="what__text-container">
                    <h2 class="what__title">¿Qué es Pokémon?</h2>
                    <p class="what__text">Pokémon es una franquicia multimedia originada en Japón que se centra en
                        criaturas ficticias llamadas "Pokémon". Los
                        humanos, conocidos como entrenadores Pokémon, capturan y entrenan a estas criaturas para
                        luchar
                        entre sí. La franquicia
                        incluye videojuegos, series de televisión animadas, películas, juegos de cartas
                        coleccionables,
                        juguetes, libros y más.
                        Pokémon se ha convertido en un fenómeno cultural mundial desde su lanzamiento en 1996, y sus
                        personajes, como Pikachu,
                        se han vuelto íconos reconocibles en todo el mundo. La premisa principal gira en torno a la
                        captura y entrenamiento de
                        Pokémon para competir en batallas, explorar nuevas regiones y completar la Pokédex, un
                        compendio
                        de todas las especies
                        de Pokémon.</p>
                </div>
                <div class="what__pokememons-container">
                    <h3 class="what__pokemons-first">Pokemones de la primera generación</h3>
                    <!--flex gow -->
                    <div class="pokemons__first">
                        <img class="first__pokemon-one" src="img/squirtle.jpeg" alt="foto">
                        <img class="first__pokemon-two" src="img/charmander.jpg" alt="foto">
                        <img class="first__pokemon-third" src="img/bulbasaur.jpeg" alt="foto">
                    </div>
                </div>
            </article>
            <article class="intro__game">
                <div class="game__text-container">
                    <h2 class="game__title">Descubre sobre este juego</h2>
                    <p class="game__text">El juego de batallas Pokémon permite a un usuario autenticarse para
                        así posteriormente ingresar. Dentro del juego puede agregar amigos donde cada usuario elije
                        sus equipos de Pokemones. Así mismo, efectúa las batallas donde fomenta el juego de
                        estrategia de cada usuario. Una vez concluída cada batalla, los usuarios pueden ver sus
                        respectivas estadísticas.</p>
                    <h3 class="game__inspo-text">Dale un vistazo a un juego similar:</h3>
                    <iframe class="game__video" width="560" height="315"
                        src="https://www.youtube.com/embed/daw9GoZWWSI?si=hleVEBJvt71-BTJm" title="YouTube video player"
                        frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                        referrerpolicy="strict-origin-when-cross-origin" allowfullscreen></iframe>
            </article>
        </section>

        <section class="layout__products" id="products">

            <h2 class="products__title">Productos de la franquicia</h2>

            <div class="products__top">
                <div class="product__container">
                    <h3 class="product__title">Peluches</h3>
                    <img src="img/pokemon1.jpeg" alt="foto">
                </div>

                <div class="product__container">
                    <h3 class="product__title">Vasos</h3>
                    <img src="img/pokemon2.jpeg" alt="foto">
                </div>
                <div class="product__container">
                    <h3 class="product__title">Juguetes</h3>
                    <img src="img/pokemon3.webp " alt="foto">
                </div>
                <div class="product__container">
                    <h3 class="product__title">Cartas</h3>
                    <img src="img/pokemon4.jpeg" alt="foto">
                </div>
            </div>

            <div class="products__bottom">
                <div class="product__container">
                    <h3 class="product__title">Funko Pops</h3>
                    <img src="img/pokemon5.webp" alt="foto">
                </div>
                <div class="product__container">
                    <h3 class="product__title">Ropa</h3>
                    <img src="img/pokemon6.jpeg" alt="foto">
                </div>
                <div class="product__container">
                    <h3 class="product__title">Tenis</h3>
                    <img src="img/pokemon7.jpeg" alt="foto">
                </div>
                <div class="product__container">
                    <h3 class="product__title">Otros juegos</h3>
                    <img src="img/pokemon8.webp" alt="foto">
                </div>
            </div>


        </section>

        <section class="layout__reviews" id="reviews">
            <div class="reviews__grid">
                <header class="reviews__header">
                    <h4 class="reviews__subtitle">Reseñas</h4>
                    <h2 class="reviews__title">Comentarios sobre diferentes usuarios</h2>
                    <p class="reviews__description">Nuestros usuarios siempre salen satisfechos.</p>
                </header>
                <div class="reviews__container">
                    <article class="reviews__review">
                        <p class="review__description">
                            Desde que soy papá me he involucrado más en la franquicia de Pokémon. Ahora que mi hijo es
                            adolescente jugamos juntos.
                        </p>
                        <div class="review__author">
                            <div class="author__container-img">
                                <img class="author__img" src="img/persona1.jpeg" alt="Foto usuario">
                            </div>
                            <div class="author__content">
                                <span class="author__name">Alonso Matamoros</span>

                            </div>
                        </div>
                    </article>

                    <article class="reviews__review">
                        <p class="review__description">
                            Tengo ya varios meses de jugar Pókemon y he de decir que me encanta, permite distraerme de
                            mi día a día y de paso hacer amigos.
                        </p>
                        <div class="review__author">
                            <div class="author__container-img">
                                <img class="author__img" src="img//persona2.jpeg" alt="Foto usuario">
                            </div>
                            <div class="author__content">
                                <span class="author__name">Elena Artavia</span>

                            </div>
                        </div>
                    </article>

                    <article class="reviews__review">
                        <p class="review__description">
                            Desde niño he visto el anime Pokémon y poder de grande jugar esto es magnífico, nutre a mi
                            niño interior y me hace feliz.
                        </p>
                        <div class="review__author">
                            <div class="author__container-img">
                                <img class="author__img" src="img/persona3.webp" alt="Foto usuario">
                            </div>
                            <div class="author__content">
                                <span class="author__name">Carlos Altamirano</span>
                            </div>
                        </div>
                    </article>
                </div>
            </div>
        </section>

        <div class="layout__btn-container" id="play">
            <a class="layout__btn" href="html/regist-user.html">Juega Aquí</a>
        </div>
        <footer class="layout__footer" id="socials">

            <ul class="footer__list">
                <li class="footer__list-item">
                    <a class="list__item-facebook" href="https://www.facebook.com/">
                        <i class='bx bxl-facebook-circle item__facebook'></i>
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="list__item-linkedin"
                        href="https://www.linkedin.com/feed/?trk=guest_homepage-basic_google-one-tap-submit">
                        <i class='bx bxl-linkedin-square'></i>
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="list__item-instagram" href="html/about-us.html">
                        <img class="footer__img" src="img/VanillaByte.jpeg" alt="Vanilla">
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="list__item-youtube" href="https://www.youtube.com/">
                        <i class='bx bxl-youtube'></i>
                    </a>
                </li>
                <li class="footer__list-item">
                    <a class="list__item-instagram" href="https://www.instagram.com/">
                        <i class='bx bxl-instagram'></i>
                    </a>
                </li>

            </ul>

        </footer>
    </div>
</body>