<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/recover-password.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">
    <title>Recuperación de Contraseña</title>
</head>

<body>
    <main>
        <div class="logo__container">
            <img class="logo__pokemon" src="img/logoPokemon.png" alt="logoPokemon">
            <h1 class="pagename">Recuperación de Contraseña</h1>
            <img class="logo__pokemon poke" src="img/logoPokemon.png" alt="logoPokemon">
        </div>
        <div class="layout">

            <div class="form__containerinfo">
                <img class="pikachu__img" src="img/pikachullave.png" alt="pikachu con llave">
                <br>
                <h2 class="reset__text">¿Olvidaste la contraseña?</h2>
                <h2 class="message">Te enviaremos un código de recuperación a tu correo electrónico</h2>
                <p class="title__input">Email</p>
                <input class="formulario__grupo-input" type="email" name="correo" id="correo"
                    placeholder="correo@correo.com">
                <div class="form__buttons">
                    <a class="back" href="html/login.html">Volver</a>
                    <button class="button__continue" type="button" onclick="enviar()">Continuar</button>

                    <!--TODO: Si esta loggeado vuelve al perfil, si no vuelve a login, consultar si hacer otra pagina o si ver con el backend-->

                </div>
                <h4 class="credits">©2024 Pokémon</h4>
            </div>
        </div>

    </main>
    <script src="js/recover-password.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>