<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/search-friends.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">
    <title>Agregar Amigos</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">

            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>

            <ul class="navbar__container-links">
                <li class="navbar__item ">
                    <i class='bx bx-male navbar__link-icon'></i><a class="navbar__link " href="user-profile">Perfil</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bx-plus-medical navbar__link-icon'></i><a class="navbar__link "
                        href="create-teams">Creación de
                        equipos</a>
                </li>
                <li class="navbar__item current">
                    <i class='bx bxs-group navbar__link-icon'></i><a class="navbar__link "
                        href="friends-profile">Amigos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-cog navbar__link-icon'></i><a class="navbar__link " href="settings">Ajustes</a>
                </li>

            </ul>

        </nav>
        <form action="/searchFriend" method="post">
            <div class="registro__container">
                <img class="registro__img" src="img/pikachu.png" alt="Pikachu">
                <div class="form__container">
                    <h1 class="text_regist">BUSCAR AMIGO</h1>
                    <!--TODO: con correo tambien-->
                    <input type="text" placeholder="Nombre de Usuario o Email" class="input__user" name="nameUser"
                        id="searchFriends">
                    <input type="submit" id="buttonSearch" class="button__search" value="Buscar"></input>
                    <% if (recentInput===friendNameUser) { %>
                        <p class=" text__link">
                            <a class="button__player-info" href="friends-profile">Información del amigo</a>
                        </p>
                        <a type="button" class="button__search" href="battle-pokemon">Crear Batalla</a>
                        <p class="text__link">
                            <a href="ranking"> ¡Mira la Tabla de Liderazgo aquí!</a>
                        </p>
                        <% } else { %>
                            <p class="regist__alert">Ingrese un dato correcto</p>
                            <% } %>

                </div>
        </form>

    </div>
    <a type="button" class="button__return" href="search-friends">VOLVER</a>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
</body>

</html>