<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/styles.css">
    <link rel="stylesheet" href="css/settings.css">
    <link rel="icon" type="image/x-icon" href="img/favIcon.png">



    <title>Ajustes</title>
</head>

<body>
    <div class="layout">
        <nav class="navbar__container">

            <div class="navbar__container-logo">
                <img class="navbar__img" src="img/logoPokemon.png" alt="logo pokemon">
            </div>

            <ul class="navbar__container-links">
                <li class="navbar__item ">
                    <i class='bx bx-male navbar__link-icon'></i><a class="navbar__link " href="user-profile">Perfil</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bx-plus-medical navbar__link-icon'></i><a class="navbar__link "
                        href="create-teams">Creación de equipos</a>
                </li>
                <li class="navbar__item ">
                    <i class='bx bxs-group navbar__link-icon'></i><a class="navbar__link "
                        href="search-friends">Amigos</a>
                </li>
                <li class="navbar__item current">
                    <i class='bx bxs-cog navbar__link-icon'></i><a class="navbar__link " href="settings">Ajustes</a>
                </li>

            </ul>

        </nav>

    </div>

    <main class="main__container">


        <div class="settings__box">
            <div class="settings__tittle__box">
                <h1 class="settings__tittle">Prohibir/Habilitar pokemons en batalla</h1>
            </div>

            <form action="/pokemonRestrictionsBan" method="post">
                <div class="options__ban">
                    <p class="options__ban__text">Prohibir pokemon</p>
                    <input id="prohibir" type="text" class="options__ban__input" name="pokemonData">
                    <input id="prohibir" class="options__ban__button" value="Prohibir" onclick="ban()" type="submit"
                        onclick="location.reload">
                </div>
            </form>

            <form action="/pokemonRestrictionsAllow" method="post">
                <div class="options__allow">
                    <p class="options__allow__text">Permitir pokemon</p>
                    <input id="permitir" type="text" class="options__allow__input" name="pokemonData">
                    <input id="permit" class="options__allow__button" value="Permitir" onclick="allow()" type="submit"
                        onclick="location.reload">

                </div>
            </form>

        </div>


    </main>

    <script src="js/settings.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

</body>

</html>