body {
    overflow: hidden;
    background-color: var(--color-azul-oscuro);
}

.header__container {
    background-color: var(--color-azul-claro);
    width: 100%;
    height: 15vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8vh 0;
    position: relative;
}

.logo__header-container {
    width: 13vw;
    position: absolute;
    left: 3vw;
}

.tittle__text-container {
    text-align: center;
    position: relative;
    left: 2vh;
    font-size: 2.6vw;
    color: var(--color-amarillo);
}

/*----------------------------FORM----------------------*/
main {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    padding: 8vh;
}

.form__container {
    background-color: var(--color-azul-claro);
    align-items: center;
    padding: 5vh;
    padding-right: 15vh;
    border-radius: 15px;
}

.form__information-box {
    display: flex;
    flex-direction: column;
}

.password__container {
    display: flex;
    padding: 4vh;
    justify-content: space-between;
}

.password__input {
    width: 50vh;
    padding: 1vh;
    position: relative;
    left: 12.5vh;
    border-radius: 10px;
    border-color: var(--color-azul-oscuro);
}

.password__label {
    font-size: 22px;
    color: var(--color-amarillo);
}

/*-----------------------FORM BUTTONS------------------------*/
.confirm__close-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    padding: 2vh;
    margin-top: 2vh;
}


.change__button {
    position: relative;
    right: 7vw;
    padding: 1vw;
    border: none;
    border-radius: 20px;
    background-color: var(--color-azul-medio);
    cursor: pointer;
    font-size: 1.5vw;
    color: var(--color-amarillo);
    transition: 300ms ease-in-out;
}

.change__button:hover {
    color: var(--color-verde);
    background-color: var(--color-azul-claro);
}

.close__button {
    position: relative;
    left: 7vw;
    padding: 1vw;
    border: none;
    border-radius: 20px;
    background-color: var(--color-azul-medio);
    cursor: pointer;
    font-size: 1.5vw;
    transition: 300ms ease-in-out;
    color: var(--color-amarillo);
}

.close__button:hover {
    color: var(--color-rojo);
    background-color: var(--color-azul-claro);
}