.navbar__container {
    height: 15vh;
    width: 100%;
    background-color: var(--color-azul-claro);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__img {
    padding-left: 3vw;
    height: 10vh;
}

.navbar__container-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2.8vh;
    color: var(--color-amarillo);
}

.navbar__item {
    margin-right: 3vw;
    padding: 2px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 500ms ease-in-out;
    border-bottom: 3px solid rgb(0, 0, 0);
    background-color: var(--color-azul-oscuro);
}

.navbar__link-icon {
    margin-right: 0.2vw;
}

.navbar__item:hover {
    background-color: var(--color-amarillo);
    color: black;
    transform: scale(1.1)
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.battle__input {
    display: flex;
    height: 85vh;
    background-color: var(--color-azul-oscuro);
}

.container__trainer-1 {
    width: 12vw;
    background-color: var(--color-azul-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.container__trainer-2 {
    width: 12vw;
    background-color: var(--color-azul-oscuro);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    position: relative;
}

.trainer1__info {
    position: absolute;
    top: 3vh;
    color: var(--color-amarillo);
    font-size: 5vh;
}

.trainer1-img__container {
    position: absolute;
    top: 13vh;
    height: 10vh;
}

.trainer-1__img {
    height: 18vh;
    width: 18vh;
    border-radius: 100%;
}

.trainer2__info {
    position: absolute;
    top: 3vh;
    color: var(--color-amarillo);
    font-size: 5vh;
}

.trainer2-img__container {
    position: absolute;
    top: 13vh;
    height: 10vh;
}

.trainer-2__img {
    height: 18vh;
    width: 18vh;
    border-radius: 100%;
}

.container__pokeballs {
    height: 1px;
    width: 80px;
    cursor: pointer
}

.container__pokeballs {
    height: 1px;
    width: 80px;
    cursor: pointer;
}

.container__pokeballs img {
    height: 40px;
    width: 55px;
}

.background__battle {
    background-image: url("../img/backgroundNew.webp");
    background-position: center center;
    background-size: cover;
    height: 85vh;
    width: 76vw;
}

.fila {
    display: flex;
    align-items: center;
    color: var(--color-azul-oscuro);
    font-size: 30px;
    justify-content: space-around;
}

form {
    width: 150vh;
    text-align: center;
}

.select__buttom {
    background: var(--color-azul-oscuro);
    color: var(--color-amarillo);
    border-radius: 10px;
    font-size: 30px;

}

.battle__container {
    width: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: 30vh;

}

.imagen-pokemon1 {
    width: 45vh;
    height: 40vh;
    margin-top: 30vh;
    margin-left: 10vh;
}

.imagen-pokemon2 {
    width: 30vh;
    height: 30vh;
    margin-bottom: -3vh;
    margin-left: 35vh;
}

.boton-ataque {
    padding: 1rem 1rem;
    border-radius: 20px;
    font-size: 16px;
}

.dano {
    animation: shake 1s;
}

.muerto {
    animation: animacionMuerto 1s;
}

.info1 {
    padding-left: 42vh;
    margin-top: 15px;
}

.info2 {
    margin-top: -700px;
    margin-left: 100vh;
}

.ataquesContenedor1 {
    margin-top: 60vh;
    margin-right: 5vh;
}

.ataquesContenedor2 {
    margin-top: -30vh;
    margin-right: 8vh;
}

@keyframes animacionMuerto {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(22.5deg);
    }

    50% {
        transform: rotate(45deg);
    }

    75% {
        transform: rotate(90deg);
    }

    100% {
        transform: rotate(90deg);
    }
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }

    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }

    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }

    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }

    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }

    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }

    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }

    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }

    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }

    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }

    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

input {
    width: 5vw;
}

.filaOne {
    display: flex;
    flex-direction: column;
    position: absolute;
    left: 0;
    width: 12vw;
    font-size: 3vh;
    top: 50%;
    height: 25vh;
    z-index: 100;
}

.filaOne input {
    padding: 1vh;
    border: none;
    border-radius: 3vh;
    background-color: white;
    width: 10vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    text-align: center;
    color: black;
}

.filaOne button {
    padding: 1vh;
    border: none;
    border-radius: 3vh;
    background-color: var(--color-amarillo);
    width: 10vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    text-align: center;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.filaOne button:hover {
    background-color: var(--color-gris-claro);
    color: black;
}


.filaOne label {
    font-size: 2.5vh;
    text-align: center;
    color: var(--color-amarillo);
}



.filaTwo {
    display: flex;
    flex-direction: column;
    position: absolute;
    width: 12vw;
    font-size: 3vh;
    top: 50%;
    height: 25vh;
    left: 88vw;
    z-index: 100;
}

.filaTwo input {
    padding: 1vh;
    border: none;
    border-radius: 3vh;
    background-color: white;
    width: 10vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    text-align: center;
    color: black;
}

.filaTwo button {
    padding: 1vh;
    border: none;
    border-radius: 3vh;
    background-color: var(--color-amarillo);
    width: 10vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2.5vh;
    text-align: center;
    transition: 300ms ease-in-out;
    cursor: pointer;
}

.filaTwo button:hover {
    background-color: var(--color-gris-claro);
    color: black;
}


.filaTwo label {
    font-size: 2.5vh;
    text-align: center;
    color: var(--color-amarillo);
}