.navbar__container {
    height: 15vh;
    width: 100%;
    background-color: var(--color-azul-claro);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__img {
    padding-left: 3vw;
    height: 10vh;
}

.navbar__container-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2.8vh;
    color: var(--color-amarillo);
}

.navbar__item {
    margin-right: 3vw;
    padding: 2px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 500ms ease-in-out;
    border-bottom: 3px solid black;
    background-color: var(--color-azul-oscuro);
}

.navbar__link-icon {
    margin-right: 0.2vw;
}


.navbar__item:hover {
    background-color: var(--color-amarillo);
    color: black;
}


body {
    font-family: 'Lato', 'Montserrat', 'Nunito';
    background-color: var(--color-azul-oscuro);
    margin: 0;
    padding: 0;
    overflow: hidden;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 3.5vh;
}

.content__title {
    text-align: center;
    width: 100%;
    font-size: 5vh;
    margin-top: -1vh;
    margin-bottom: 3vh;
    color: var(--color-amarillo);

}

.content {
    display: flex;
    justify-content: space-evenly;
    width: 80vw;
    background-color: var(--color-amarillo);
    padding: 2vh;
    border-radius: 30px;
    padding: 20px;
    padding-bottom: 25px;

}


.content__available,
.content__team-creation {
    flex: 1;
    margin: 0 2vw;
}

.content__team-creation {
    display: flex;
    flex-direction: column;
}


.content__team-grid {
    display: flex;
}

.available__title {
    font-size: 3.5vh;
    color: var(--color-azul-oscuro);
    margin-bottom: 2.5vh;
    text-align: center;
}

.team__title {
    font-size: 3.5vh;
    color: var(--color-azul-oscuro);
    margin-bottom: 2.5vh;
    text-align: center;
}

.team__container {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 45vh;
}

.available__outer {
    overflow: hidden;
    border-radius: 15px;
    border: 0.3vh solid black;
}

.available__pokemons {
    display: flex;
    flex-wrap: wrap;
    gap: 1vh;
    justify-content: center;
    background-color: white;
    padding: 1vh;
    height: 50vh;
    overflow-y: auto;
}

.pokemons__pokemon {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 8vw;
    border: 0.1vh solid black;
    border-radius: 1vh;
    padding: 0.5vh;
    margin: 2vh;
}

.pokemons__pokemon img {
    width: 3vw;
    height: 3vw;
}

.team__select {
    text-align: center;
    margin-bottom: 1vh;
}

.content__team-grid {
    display: grid;
    border-radius: 2vh;
    grid-template-columns: repeat(2, 1fr);
    gap: 4svh 0;
    justify-items: center;
}

.team__slot {
    padding: 1vh;
    border: 2px solid var(--color-azul-medio);
    border-radius: 3vh;
    background-color: white;
    width: 10vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    text-align: center;
}


.content__team-name {
    margin: 2vh 0;
    text-align: center;
    padding: 0px 5px;
    margin-bottom: 25px;
}

#team__name-title {
    width: 20vw;
    padding: 10vh;
    border: 0.2vh solid black;
    background-color: white;
    border-radius: 25px;
    display: block;
    margin: 0 auto;
    padding: 2px 12px;
}


.content__buttons {
    display: flex;
    justify-content: space-evenly;
}

.button__reset,
.button_save {
    padding: 1vh 2vw;
    border: none;
    border-radius: 5vh;
    background-color: var(--color-azul-oscuro);
    color: white;
    cursor: pointer;
    transition: background-color 0.3s;
}

.button__reset:hover,
.button_save:hover {
    background-color: var(--color-azul-claro);
}

.error-message {
    color: var(--color-rojo);
    font-size: 1.5vh;
}

.success-message {
    color: var(--color-verde);
    font-size: 1.8vh;
    margin-top: 0.5vh;
}

.input-container {
    position: relative;
    display: inline-block;
}

.input-container #checkIcon {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    font-size: 20px;
    pointer-events: none;
}

#team__name-title.valid {
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 20px 20px;
    padding-right: 30px;
}

#team__name-title.invalid {
    background-repeat: no-repeat;
    background-position: right 8px center;
    background-size: 20px 20px;
    padding-right: 30px;
}

.team__input {
    margin-top: 20px;
    box-sizing: border-box;
    height: 4vh;
    border: 2px solid var(--color-azul-oscuro);
}

::-webkit-scrollbar {
    width: 0.8vw;
    padding: 1vh 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    padding: 10px 10px;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: var(--color-azul-medio);
    border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
    background: var(--color-azul-oscuro);
}