.navbar__container {
    height: 15vh;
    width: 100%;
    background-color: var(--color-azul-claro);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.navbar__img {
    padding-left: 3vw;
    height: 10vh;
}

.navbar__container-links {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    font-size: 2.8vh;
    color: var(--color-amarillo);
}

.navbar__item {
    margin-right: 3vw;
    padding: 2px 15px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 500ms ease-in-out;
    border-bottom: 3px solid black;
    background-color: var(--color-azul-oscuro);
}

.navbar__link-icon {
    margin-right: 0.2vw;
}


.navbar__item:hover {
    background-color: var(--color-amarillo);
    color: black;
}

body {
    background-color: var(--color-azul-oscuro);


}

main {
    padding: 2vh;
    text-align: center;
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}

.content__title {
    font-size: 5vh;
    color: var(--color-amarillo);

}

.content__teams {
    display: flex;
    justify-content: center;
    gap: 2vw;
    margin: 3vh 3vh;
    width: 90vw;
}

.teams__team {
    border: none;

    font-size: 25px;
    background-color: var(--color-amarillo);
    border-radius: 15px;
    text-align: center;
    padding: 5px 10px;
    color: var(--color-azul-oscuro);
}

.teams__team-title {
    color: var(--color-azul-oscuro);
    font-size: 3.3vh;

}

.pokemon__name {
    color: var(--color-amarillo);
}


.button__add-team:hover {
    color: var(--color-azul-oscuro);
    background-color: var(--color-amarillo);
}

.chosen__title {
    color: var(--color-amarillo);

    font-size: 3vh;

}

.chosen__pokemons {
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin-bottom: 3vh;

}

.chosen__pokemons div {
    text-align: center;
}

.chosen__pokemons img {
    display: block;

    height: 9.8vh;
}

.chosen__pokemons span {
    display: block;
}

.pokemon__img-sprite {
    height: 12vh;
}


.button__player-info:hover {
    color: var(--color-azul-oscuro);
    background-color: var(--color-amarillo);
}

.chosen__pokemon {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    width: 12vw;
    height: 30vh;
    border: 2px solid var(--color-amarillo);
    padding: 1vh 1vw;
    position: relative;
    background-color: var(--color-gris-oscuro);
    border-radius: 30px;
    justify-content: center;
    transition: 400ms ease-in-out;
}

.chosen__pokemon img {
    height: 15vh;
    margin: 1vh 0;
}

.teams__team-edit {
    color: var(--color-amarillo);
    text-decoration: underline;
    transition: 300ms ease-in-out;
}

.teams__team-edit:hover {
    color: var(--color-gris-claro);
}

.pokemon__name,
.pokemon__info {
    font-size: 20px;
    color: var(--color-amarillo);
    margin: 0;
}

.pokemon__weight,
.pokemon__height {
    color: var(--color-amarillo);
    font-size: 15px;
}

.pokemon__info {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.team__upload {
    cursor: pointer;
    border: none;
    background-color: var(--color-gris-claro);
    width: 10vw;
    border-radius: 50px;
    font-size: 18px;
    color: var(--color-azul-oscuro);
    transition: 300ms ease-in-out;
    padding: 5px 10px;
}

.team__upload:hover {
    transform: scale(1.1);
    color: var(--color-azul-oscuro);
    background-color: var(--color-amarillo);
}

.pokemon__num {
    color: var(--color-amarillo);
    font-size: 20px;
}

.pokemon__sizes {
    display: flex;
    justify-content: space-around;
}

.chosen__pokemon:hover {
    transform: scale(1.1);
}

::-webkit-scrollbar {
    width: 0.8vw;
    padding: 10px 10px;
}

::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey;
    padding: 10px 10px;
    border-radius: 10px;
}


::-webkit-scrollbar-thumb {

    background: var(--color-azul-claro);
    border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
    cursor: pointer;
    background: var(--color-amarillo);
}

.form__pokemon-change {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-azul-claro);
    margin: 1vh 0;
    border-radius: 30px;
    width: 40vw;
    font-size: 2.8vh;
    justify-content: space-evenly;
    height: 27vh;
    padding: 1vh 0;
}

.form__pokemon-change label {
    color: var(--color-amarillo);
}

.update__team,
.update__name,
.update__newName {
    width: 35vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.update__team-name,
.update__team-pokemon,
.update__team-newPokemon {
    padding: 1vh;
    border: 2px solid var(--color-azul-medio);
    border-radius: 3vh;
    background-color: white;
    width: 15vw;
    height: 4vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2vh;
    text-align: center;
}

.save__change {
    padding: 1vh 1vw;
    border-radius: 3vh;
    color: var(--color-azul-oscuro);
    border: none;
    background-color: var(--color-amarillo);
    cursor: pointer;
    transition: 400ms ease-in-out;
}

.save__change:hover {
    transform: scale(1.1);
}