body {
    overflow: hidden;
}

.layout {
    background-color: var(--color-azul-oscuro);
    height: 86vh;
    overflow: hidden;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.logo__container {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    height: 15vh;
    padding-left: 3vw;
    background-color: var(--color-azul-claro);
}

.poke {
    opacity: 0;
}

.pagename {
    color: var(--color-amarillo);
}

.logo__pokemon {
    height: 10vh;
}

.box__info {
    display: flex;
    justify-content: center;
    align-items: center;
}

.form__containerinfo {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: var(--color-azul-claro);
    border-radius: 50px;
    padding: 3vh;
}

.reset__text {
    font-size: 40px;
    margin-bottom: 5vh;
    color: var(--color-amarillo);
}

.title__input {
    color: var(--color-amarillo);
    font-size: 23px;

}

.formulario__grupo-input {
    padding: 1vh;
    width: 50vh;
    margin-bottom: 4vh;
    border: 3px solid var(--color-amarillo);
    border-radius: 20px;
}

.message {
    font-size: 20px;
    margin-bottom: 5vh;
}

.input__info {
    padding: 1vh;
    width: 50vh;
    margin-bottom: 5vh;
    border: 3px solid black;
    border-radius: 20px;
}

.button__continue,
.back {
    padding: 5px 20px;
    margin-top: 3vh;
    margin-bottom: 3vh;
    background-color: var(--color-azul-medio);
    color: var(--color-amarillo);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    font-size: 20px;
    border-bottom: 5px solid var(--color-amarillo);
    transition: 500ms ease-in-out;
}

.button__continue:hover {
    background-color: var(--color-amarillo);
    color: white;
}


.pikachu__img {
    width: 100px;
}

.clickrecover {
    cursor: pointer;
    font-size: 16px;
    transition: 500ms ease-in-out;

}

.clickrecover:hover {
    background-color: var(--color-azul-oscuro);
    color: white;

}



.back:hover {
    background-color: var(--color-amarillo);
    color: white;
}

.form__buttons {
    display: flex;
    justify-content: space-between;
    gap: 5vw;
}